body {
  background:url('https://i.imgur.com/QCABXSG.jpg') 50% 50% fixed;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  align-items: center;
}

.form-container {
  padding: 2vmin;
  background-color: var(--steel);
  border: .1vmin solid var(--cloudy-sky);
  border-radius: 1vmin;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 15%;
  align-items: center;
}

.login-title {
  color: var(--dark-steel);
  margin-top: 35%;
}

.App {
  text-align: center;
}


