.ExpenseItem {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 3vmin;
  padding: 2vmin;
  border-radius: 1vmin;
  font-size: 2vmin;
} 

#del-expense {
  width: 5vmin;

}