.IncomeItem {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 1vmin;
  padding: 2vmin;
  border-radius: 1vmin;
  font-size: 2vmin;
} 

#del-income {
  width: 5vmin;

}




