nav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 48fr 1fr 1fr;
    height: 100vh;
    background-color: var(--steel);
    font-weight: bolder;
    color: white;
    padding-bottom: 5px;    
    margin: 0;
}

nav > a {
    text-decoration: none;
    color: white;
    align-items:flex-end;
    bottom: 0;
    right: 0;
}

nav > .logout {  
    justify-content: end;
}