body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    box-sizing: border-box;
    display: grid;
    background-color: var(--sagegreen);
    grid-template-areas:
    "income-form expense-form";
}

#income-form {
    grid-area: income-form;
}

#expense-form {
    grid-area: expense-form;
}

#cal-detail-title {
    text-align: left;
    margin-left: 2px;
}