body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: fit-content;
}

div > .calendar-detail{
    box-sizing: border-box;
    display: grid;
    /* background-color: var(--sagegreen); */
    grid-template-areas:
    "income-title income-title fill expense-title expense-title"
    "income-form income-form fill expense-form expense-form"
    "income-detail income-detail fill expense-detail expense-detail";

}

#income-title {
    grid-area: income-title;
}

#expense-title {
    grid-area: expense-title;
}

#income-form {
    grid-area: income-form;
}

#income-detail {
    grid-area: income-detail;
}

#expense-detail {
    grid-area: expense-detail;
}

#expense-form {
    grid-area: expense-form;
}

#cal-detail-title {
    text-align: left;
    margin-left: 2px;
}